@model LoginSystem.Models.MainPageModel
@{
    ViewBag.Title = "Index";
    if (Session["userID"] == null) // In cazul in care dorim sa accesam pagina de Home si nu suntem logati vom fi redirectionati spre pagina de logare
    {

        Response.Redirect("~/Login/Index");
    }
}


<script>
    function startTime() {

        var today = new Date();
        var h = today.getHours();
        var m = today.getMinutes();
        var s = today.getSeconds();
        m = checkTime(m);
        s = checkTime(s);
        document.getElementById('txt').innerHTML =
            h + ":" + m + ":" + s;
        var t = setTimeout(startTime, 500);
    }
    function checkTime(i) {
        if (i < 10) { i = "0" + i };  // add zero in front of numbers < 10
        return i;
    }
</script>
<style>
    body {
        background-image: url('../../blue-gradient.jpg');
    }
    .form-group {
        margin-right: 50px;
        top: 15%;
        padding: 10px 10px;
    }
    #dropdown-div {
        position: absolute;
        left: 40%;
        top: 15%;
        border: 1px solid #ccc;
        padding: 10px 10px;
    }
</style>
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Add Stock</title>
</head>
<body onload="startTime()">
    
    <div>
        <h1 style="color:white">Dashboard</h1>
        <h3 style="color:white">Bine ai venit, @Session["UserName"].ToString()</h3>

        <div id="txt" style="color:white"></div>

        @using (Html.BeginForm("AddOrEdit", "Home", FormMethod.Post))
        {<div id="dropdown-div">
                <table>
                    <tr>
                        <td></td>
                        <td style="text-decoration:underline;color:white">Add stock</td>
                    </tr>
                    <tr>
                        <td style="color:white">@Html.DisplayNameFor(model => model.stock.IdProduct)</td>

                        <td>@Html.DropDownListFor(model => model.stock.IdProduct, new SelectList(Model.stock.ProductCollection, "IdProduct", "ProductName"), "Select")</td>

                    </tr>
                    <tr>
                        <td style="color:white">@Html.DisplayNameFor(model => model.stock.Count)</td>
                        <td>@Html.EditorFor(model => model.stock.Count)</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><input type="submit" name="name" value="Submit"></td>
                    </tr>

                </table>
            </div>
        }
        <table>
            <tr>
                <td></td>
                <td><a href="@Url.Action("Index","Customer")">Customer Page</a></td>
            </tr>
            <tr>
                <td></td>
                <td>  <a href="@Url.Action("LogOutFunction","Login")">LogOut</a></td>

            </tr>


        </table>

        @using (Html.BeginForm("AddImage", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">


                    @* Setam atributele modelului *@
                    @{Model.user.UserID = ((int)Session["UserID"]);} @* Only do this here if you did NOT do it in the controller *@
                    @Html.HiddenFor(m => m.user.UserID) @* This will make it so that Attribute = "whatever" when the page submits to the controller *@

                    @{Model.user.UserName = Session["UserName"].ToString();} @* Only do this here if you did NOT do it in the controller *@
                    @Html.HiddenFor(m => m.user.UserName) @* This will make it so that Attribute = "whatever" when the page submits to the controller *@

                    @{Model.user.ImagePath = Session["ImagePath"].ToString();} @* Only do this here if you did NOT do it in the controller *@
                    @Html.HiddenFor(m => m.user.ImagePath) @* This will make it so that Attribute = "whatever" when the page submits to the controller *@

                    <img src="@Url.Content(Model.user.ImagePath)" width="140" height="130" />
                    <input type="file" name="file" id="file" riquired />
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Select Photo" class="btn btn-default" />
                </div>
            </div>


        }

    </div>

            </body>
                        </html>

