@model LoginSystem.Models.Stock

@{
    ViewBag.Title = "Index";
    if (Session["userID"] == null) // In cazul in care dorim sa accesam pagina de Home si nu suntem logati vom fi redirectionati spre pagina de logare
    {

        Response.Redirect("~/Login/Index");
    }
}

<script>
    function startTime() {
        
        var today = new Date();
        var h = today.getHours();
        var m = today.getMinutes();
        var s = today.getSeconds();
        m = checkTime(m);
        s = checkTime(s);
        document.getElementById('txt').innerHTML =
            h + ":" + m + ":" + s;
        var t = setTimeout(startTime, 500);
    }
    function checkTime(i) {
        if (i < 10) { i = "0" + i };  // add zero in front of numbers < 10
        return i;
    }
</script>
<style>
    body {
        background-image: url('../../blue-gradient.jpg');
    }
    #dropdown-div {
        position: absolute;
        left: 40%;
        top: 15%;
        border: 1px solid #ccc;
        padding: 10px 10px;
    }
</style>
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Add Stock</title>
</head>
<body onload="startTime()">
    
    <div>
        <h1 style="color:white">Dashboard</h1>
        <h3 style="color:white">Bine ai venit, @Session["UserName"].ToString()</h3>

        <div id="txt" style="color:white"></div>

        @using (Html.BeginForm("AddOrEdit", "Home", FormMethod.Post))
        {<div id="dropdown-div">
                <table>
                    <tr>
                        <td></td>
                        <td style="text-decoration:underline;color:white">Add stock</td>
                    </tr>
                    <tr>
                        <td style="color:white">@Html.DisplayNameFor(model => model.IdProduct)</td>

                        <td>@Html.DropDownListFor(model => model.IdProduct, new SelectList(Model.ProductCollection, "IdProduct", "ProductName"), "Select")</td>

                    </tr>
                    <tr>
                        <td style="color:white">@Html.DisplayNameFor(model => model.Count)</td>
                        <td>@Html.EditorFor(model => model.Count)</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><input type="submit" name="name" value="Submit"></td>
                    </tr>

                </table>
            </div>
        }
        <table>
            <tr>
                <td></td>
                <td><a href="@Url.Action("Index","Customer")">Customer Page</a></td>
            </tr>
            <tr>
                <td></td>
                <td>  <a href="@Url.Action("LogOutFunction","Login")">LogOut</a></td>
            </tr>

        </table>
    </div>

</body>
</html>

